@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Italiana&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@300;400;500;600;700;800;900&family=Source+Serif+4:ital,opsz,wght@1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');


body{
    background: rgba(0, 0, 0, 0.925);
    max-width: 100%;
}

/* HEADER */

.header-container{
    text-align: center;
    padding-top: 2rem;
}
.header{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: rgb(218, 215, 32)
}

/* SEARCH INPUT */

.search-container{
    padding-top: 1.2rem;
    text-align: center;
}
.search-input{
    width: 420px;
    height: 40px;
    background: rgba(0, 0, 0, 0.925);
    color: rgb(148, 142, 142);
    font-family: 'Poppins';
    font-weight: 400;
    border: none;
    border-radius: 20px;
    padding-left: 17px;
}
.search-input::placeholder{
    color: rgb(148, 142, 142);
}
.search-icon{
    width: 30px;
    height: 30px;
    color: rgb(192, 176, 85);
    margin-left: -2.5rem;
}

/* MOVIE PAGES */
.movie-container{
    margin: 0 auto;
    justify-content: center;
}
.movie{
    background: rgb(207, 204, 204);
    width: fit-content;
    margin-top: 1.5rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.movie-year p{
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Poppins';
}

.movie-img img{
    margin-top: -1rem;
    width: 200px;
    height: 285px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.movie-img img:hover{
    background-color: transparent;
}

.movie-title{
    background: rgba(0, 0, 0, 0.925);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 14px;
    inline-size: 200px;
    overflow-wrap: break-word
}
.movie-title:hover{
    background-color: transparent;
}

.movie-title h3{
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Poppins';
    color: rgb(168, 166, 166);
    text-transform: uppercase;
}
.movie-title span{
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Poppins';
    color: rgb(192, 176, 85);
    font-style: normal;
}
.empty h2{
    margin-top: 6rem;
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Poppins';
    color: rgb(248, 27, 11);
    font-style: normal;
}